# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
node_modules

# Book build output
_book

# Visual Studio cache/options directory
.vs/
.vscode/

# JetBrains Rider
.idea/

# DS
.DS_Store

# Backup file
*.bak

# Temp
*.tmp
tmp
